<app-poke-search (clear)="myPokemon = []" (pokemonRetrieved)="myPokemon.push($event)"></app-poke-search>

<!-- ng-container is a special tag that is not interpreted by the browser
its purpose is to serve as a "container" for ngFor, as an example -->
<ng-container *ngFor="let poke of myPokemon">
  <app-poke [pokemon]="poke"></app-poke> <!-- Because we have the @Input decorator on top of the pokemon field in PokeComponent, pokemon is now
  a property that we can do property binding on -->
</ng-container>

